<% if(isBlock) {%>
<section class="p_lp_news">
  <div class="p_lp_news_content fade-element">
    <p class="p_lp_news_content-week ">6月8日<span class="p_lp_news_content-sat">(土)</span></p>
      <span class="p_lp_news_content-time ">時間：13:00〜17:00<span class="p_lp_news_content-rest">※休憩 15:00〜15:30</span> </span>
    <h2 class="p_lp_news_content-title ">キャリバー9SA5<br />組立実演開催のお知らせ</h2>
    <p class="p_lp_news_content-text ">
      2024年6月8日（土）和光 本店2階にて、<br class="pc">グランドセイコー史上最高の新世代メカニカルムーブメント<br class="pc">「9SA5」の組立実演を開催いたします。<br class="pc">
グランドセイコーが誇る「匠の技」とここだけの<br class="pc">特別なひとときをぜひ間近でお楽しみください。
    </p>
  </div>
</section>
<% }; %>
