<section class="p_lp_kv">
  <div class="p_lp_kv-titlearea pc">
    <div class="fade-element">
      <div class="p_lp_kv-logoarea pc-flex">
        <img src="<%= common.imgPath %>/logo.png" alt="WAKO GINZA TOKYO" />
      </div>
      <p class="p_lp_kv-text1">Wako Ginza</p>
      <h1>Grand Seiko <br>Spring Fair</h1>
      <p class="p_lp_kv-text2">
        Period: <span class="p_lp_kv-text2_s1">Thursday</span>, <span class="p_lp_kv-text2_s1">February 27th</span> to
        <span class="p_lp_kv-text2_s1">Monday</span>, <span class="p_lp_kv-text2_s1">March 31st</span>
      </p>
      <p class="p_lp_kv-text3">Venue: Wako Main Store 1st and 2nd floors<br>Grand Seiko Flagship Boutique Ginza</p>
    </div>
  </div>

  
  <div class="p_lp_kv_head sp">
    <div class="p_lp_kv_head_inner">
      <div class="p_lp_kv-logoarea">
        <img src="<%= common.imgPath %>/kv_logo.png" alt="WAKO GINZA TOKYO" />
      </div>
      <p class="p_lp_kv-text1">Wako Ginza</p>
      <h1>Grand Seiko <br>Spring Fair</h1>
      <!-- <p class="p_lp_kv-subtitle">Grand Seiko Spring Collection</p> -->
      <p class="p_lp_kv-text2">
        <span class="p_lp_kv-text2_field">Period: </span>
        <span class="p_lp_kv-text2_field"><span class="p_lp_kv-text2_s1">Thursday</span>, <span class="p_lp_kv-text2_s1">February 27th</span> to</span>
        <span class="p_lp_kv-text2_field"><span class="p_lp_kv-text2_s1">Monday</span>, <span class="p_lp_kv-text2_s1">March 31st</span></span>
      </p>
      <p class="p_lp_kv-text3">
        <span class="p_lp_kv-text3_field">Venue: Wako Main Store 1st and 2nd floors</span><br>
        <span class="p_lp_kv-text3_field">Grand Seiko Flagship Boutique Ginza</span>
      </p>
    </div>
    <div class="p_lp_kv-img">
      <img src="<%= common.imgPath %>/kv_sp.jpg" alt="Photo of SBGX353/SBGA407" />
    </div>
  </div>
</section>
