<section class="p_lp_present">
  <div class="inner">
    <div class="p_lp_present_main">
      <div class="p_lp_present_titlearea">
        <p class="p_lp_present_title-sub fade-element">Limited Novelty</p>
        <h2 class="fade-element">Fair-exclusive gift items</h2>
        <!-- <p class="p_lp_present_title-select fade-element">お選びいただける<br class="sp"/>特別なご購入ノベルティ</p> -->
        <p class="p_lp_present_title-text fade-element">
          For the duration of the event, customers who purchase a ladies' watch will receive an original incense set, while customers who purchase a men's watch will receive an original ballpoint pen.
          <span>◎The number of promotional giveaways is limited. Thank you for your understanding.</span>
        </p>
      </div>
      <div class="p_lp_present_contents">
        <div class="p_lp_present_unit">
          <h3 class="p_lp_present-price fade-element">Ladies' watches</h3>
          <!-- <h3 class="p_lp_present-price "> <span class="p_lp_present-zei">税込</span>110万円以上</h3> -->
          <div class="p_lp_present_content">
            <div class="p_lp_present_block fade-element">
              <div class="p_lp_present_block-image">
                <img src="<%= common.imgPath %>/novelty03.png" alt="Original incense set" />
              </div>
              <div class="p_lp_present_block-titlearea">
                <p class="p_lp_present_block-title">Original incense set</p>
              </div>
            </div>
          </div>
        </div>
        <div class="p_lp_present_unit">
          <h3 class="p_lp_present-price fade-element">Men's watches</h3>
          <!-- <h3 class="p_lp_present-price "> <span class="p_lp_present-zei">税込</span>110万円未満</h3> -->
          <div class="p_lp_present_content">
            <div class="p_lp_present_block fade-element">
              <div class="p_lp_present_block-image">
                <img src="<%= common.imgPath %>/novelty04.png" alt="Original ballpoint pen" />
              </div>
              <div class="p_lp_present_block-titlearea">
                <p class="p_lp_present_block-title">Original ballpoint pen</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="p_lp_present_original fade-element">
        <div class="p_lp_pickup_original_heading fade-element">
          Customers purchasing a watch as a wedding gift will receive an original pair of glasses.
        </div>

        <div class="p_lp_pickup_original fade-element">
          <div class="p_lp_pickup_original-image">
            <img src="<%= common.imgPath %>/novelty05.png" alt="Original pair of glasses" />
          </div>
          <div class="p_lp_pickup_original-titlearea">
            <p class="p_lp_pickup_original-title">Original pair of glasses</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
