<% const absolutePath=`${process.cwd()}${common.commonPath}`; %>
<section class="p_lp_store fade-element">
  <div class="inner">
    <div class="p_lp_store_main">
      <div class="p_lp_store_content ">
        <div class="p_lp_store_imagearea">
          <img src="<%= common.imgPath %>/store_img2.jpg" alt="和光店舗情報"/>
        </div>
        <div class="p_lp_store_textblockarea">
          <div class="p_lp_store_textblock">
            <h2>Store information</h2>
          </div>
          <div class="p_lp_store_textblock">
            <p class="p_lp_store_textblock-text1">Grand Seiko Flagship Boutique Ginza</p>
            <p class="p_lp_store_textblock-text2">
              Wako Main Store 1st and 2nd floors,4-5-11,Ginza Chuo Ku Tokyo 104-8105 <br>TEL <a href="tel:0335622111">(03)3562-2111</a> <br>Store Hours 11:00am - 7:00pm
            </p>
            <p class="p_lp_store_textblock-text3">
              ◎The latest information, including business hours, is available on our website. <a href="https://www.wako.co.jp/" target="_blank">https://www.wako.co.jp/</a>
            </p>
            <p class="p_lp_store_textblock-text4">
              <span>Instagram：</span><br class="sp">Watch(Ginza・WAKO / WAKO) <a href="https://www.instagram.com/watch_wako_ginza_tokyo/" target="_blank">@watch_wako_ginza_tokyo</a>
            </p>
          </div>
        </div>
        <div class="p_lp_store_btnarea">
          <a href="https://www.grand-seiko.com/jp-ja/storesinfo/JP-129926?language=<%= common.lang %>" target="_blank">For information about the Grand Seiko Flagship Boutique Ginza,<br class="pc"> click here.</a>
        </div>
      </div>
    </div>
  </div>
</section>
